.airports__container-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.airports__container {
  border: 0.875rem solid #f4f4f4;
  padding: 1.25rem 2rem;
}

.airports__container h1 {
  font-size: 3rem;
  margin-bottom: 0.625rem;
}
@media only screen and (max-width: 768px) {
  .airports__container h1 {
    font-size: 2rem;
  }
}
